QPushButton{
    padding : 8px 20px;
}
QLineEdit{
    height: 27px;
}
QProgressBar{
    height: 25px;
}
QMenuBar{
    background-color: lightgray;
}
QTabBar::tab {
    padding: 8px;
}
QTabBar::tab:selected {
    background-color:  rgb(255, 255, 255);
}
